/* Reset margin and padding for the body*/

body {
  margin: 0;
  padding: 0;
}

body {
  background-color: #272a35;
  font-family: "Inconsolata", monospace;
  height: 100vh;
  width: 95vw;
  position: relative;
}

/***** Navigation Bar *****/
header {
  background-color: #44465a;
  height: 100%;
  width: 14.5%;
}

nav ul {
  margin: 0;
  padding-top: 35px;
}

nav ul li {
  list-style: none;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.color1 {
  color: #8beafd;
}

.color2 {
  color: #74f27c;
}

.color3 {
  color: #f7b76b;
}

.color4 {
  color: #ed75c5;
}

.color5 {
  color: #bd93fa;
}

.color6 {
  color: #f8f8f2;
}

.color7 {
  color: #e6db73;
}

.logo {
  position: absolute;
  bottom: 82px;
  left: 44px;
}

.social-media {
  position: absolute;
  bottom: 15px;
  left: -12px;
}

.social-media ul {
  list-style: none;
}

.social-media ul li {
  display: inline-block;
  padding-right: 6px;
}

/***** Reddit Feed Column *****/
.col1 {
  max-width: 22%;
}

.reddit h3 {
  position: absolute;
  top: 25px;
  left: 268px;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.newsfeed-main {
  font-size: 15px;
  line-height: 1.3em;
  height: 800px;
  width: 18%;
  overflow-y: auto;
  position: absolute;
  top: 70px;
  left: 265px;
}

.newsfeed-main::-webkit-scrollbar {
  display: none;
}

.newsfeed1,
.newsfeed2,
.newsfeed3,
.newsfeed4,
.newsfeed5 {
  border-left: 3px solid rgb(143, 142, 142);
  margin-bottom: 30px;
}

.newsfeed1 p,
.newsfeed2 p,
.newsfeed3 p,
.newsfeed4 p,
.newsfeed5 p {
  color: #f8f8f2;
  padding-left: 15px;
}

.newsfeed1 .nf-p1 {
  color: #e6db73;
  margin-top: 8px;
  padding-left: 15px;
}

.newsfeed1 .nf-p3 {
  color: #ed75c5;
  margin-top: 8px;
  padding-left: 15px;
}

.newsfeed2 .nf-p1,
.newsfeed3 .nf-p1,
.newsfeed4 .nf-p1,
.newsfeed5 .nf-p1 {
  color: #e6db73;
  margin-top: 8px;
  padding-left: 15px;
}

.newsfeed2 .nf-p1 span,
.newsfeed3 .nf-p1 span,
.newsfeed4 .nf-p1 span,
.newsfeed5 .nf-p1 span {
  color: #8beafd;
}

.newsfeed2 .nf-p2,
.newsfeed3 .nf-p2,
.newsfeed4 .nf-p2,
.newsfeed5 .nf-p2 {
  color: #6172a5;
  margin-top: 8px;
  margin-bottom: 10px;
}

.newsfeed2 .nf-p3 a,
.newsfeed3 .nf-p3 a {
  color: #ed75c5;
  margin-top: 10px;
}

/***** JavaScript History Column *****/
.col2 {
  max-width: 37.5%;
}

.col2 h3 {
  color: #8beafd;
  margin-bottom: 25px;
  position: absolute;
  top: 25px;
  left: 765px;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.col2-left {
  color: #6172a5;
  float: left;
  height: 450px;
  width: 25%;
  position: absolute;
  top: 75px;
  left: 645px;
}

.col2-left p {
  font-size: 15px;
  margin-bottom: 35px;
}

.col2-left .js-f2,
.col2-left .js-f3,
.col2-left .js-f4,
.col2-left .js-f5,
.col2-left .js-f6 {
  margin-bottom: 10px;
}

hr {
  font-size: 2px;
  width: 37%;
  position: absolute;
  top: 400px;
  left: 645px;
}

.col2-right {
  color: #f8f8f2;
  float: left;
  width: 10%;
  position: absolute;
  top: 75px;
  left: 1185px;
}

.col2-right p {
  font-size: 15px;
  margin-bottom: 35px;
}

/***** Local Date and Time *****/
.date-time {
  position: absolute;
  top: 425px;
  left: 700px;
}

#userlocaltime {
  color: #6172a5;
  font-size: 40px;
  font-weight: 500;
}

#userlocaltime span {
  font-size: 4em;
  letter-spacing: 1px;
}

#userlocaldate {
  color: #6172a5;
  font-size: 1.85em;
  letter-spacing: 1px;
  position: absolute;
  top: 175px;
  left: 145px;
}

.para1 {
  margin-top: 75px;
}

.para1 p {
  color: #6172a5;
  margin-top: 15px;
}

.para1 .custom {
  text-transform: uppercase;
}

.p1,
.p2,
.p3 {
  font-size: 13.5px;
  word-spacing: 0.05px;
  margin-bottom: -10px;
  margin-left: -45px;
}

.p1,
.p3,
.p4 {
  text-align: center;
}

.p4 {
  color: #fdb770;
}

/***** Github Issue History Feed *****/
.col3 {
  max-width: 24%;
}

.github h3 {
  color: #8beafd;
  position: absolute;
  top: 25px;
  left: 1390px;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.github .gitlab {
  color: #6172a5;
  position: absolute;
  top: 48px;
  left: 1440px;
}

.github .issues {
  color: #ed75c5;
  font-size: 18px;
  font-weight: bold;
  position: absolute;
  top: 85px;
  left: 1415px;
  text-transform: uppercase;
}

.github .issues span {
  color: #e6db73;
  padding-bottom: 15px;
}

.github-main {
  font-size: 15px;
  line-height: 1.3em;
  height: 465px;
  width: 18%;
  overflow-y: auto;
  position: absolute;
  top: 135px;
  left: 1400px;
  border-bottom: 1px solid #ccc;
}

.github-main::-webkit-scrollbar {
  display: none;
}

/***** Gitfeed1 *****/
.gitfeed1 .gf-p1 {
  color: #6172a5;
  position: absolute;
  top: 40px;
  padding-left: 15px;
}

.gitfeed1 .gf-p2 {
  color: #e6db73;
  position: absolute;
  top: 65px;
  padding-left: 15px;
}

.gitfeed1 .gf-p3 {
  color: #f8f8f2;
  position: absolute;
  top: 85px;
  padding-left: 15px;
  margin-bottom: 50px;
}

.gitfeed1 {
  border-left: 3px solid rgb(143, 142, 142);
  height: 120px;
  margin-top: 58px;
}

/***** Gitfeed2 *****/
.gitfeed2 .gf-p1 {
  color: #6172a5;
  position: absolute;
  top: 190px;
  padding-left: 15px;
}

.gitfeed2 .gf-p2 {
  color: #e6db73;
  position: absolute;
  top: 215px;
  padding-left: 15px;
}

.gitfeed2 .gf-p3 {
  color: #f8f8f2;
  position: absolute;
  top: 245px;
  padding-left: 15px;
  margin-bottom: 50px;
}

.gitfeed2 {
  border-left: 3px solid rgb(143, 142, 142);
  height: 125px;
  margin-top: 32px;
}

/***** Gitfeed3 *****/
.gitfeed3 .gf-p1 {
  color: #6172a5;
  position: absolute;
  top: 350px;
  padding-left: 15px;
}

.gitfeed3 .gf-p2 {
  color: #e6db73;
  position: absolute;
  top: 375px;
  padding-left: 15px;
}

.gitfeed3 .gf-p3 {
  color: #f8f8f2;
  position: absolute;
  top: 395px;
  padding-left: 15px;
  margin-bottom: 50px;
}

.gitfeed3 {
  border-left: 3px solid rgb(143, 142, 142);
  height: 125px;
  margin-top: 32px;
}

/***** Gitfeed4 *****/
.gitfeed4 .gf-p1 {
  color: #6172a5;
  position: absolute;
  top: 500px;
  padding-left: 15px;
}

.gitfeed4 .gf-p2 {
  color: #e6db73;
  position: absolute;
  top: 525px;
  padding-left: 15px;
}

.gitfeed4 .gf-p3 {
  color: #f8f8f2;
  position: absolute;
  top: 545px;
  padding-left: 15px;
  margin-bottom: 50px;
}

.gitfeed4 {
  border-left: 3px solid rgb(143, 142, 142);
  height: 125px;
  margin-top: 28px;
}
