body {
  background-color: #272a35;
  font-family: "Inconsolata", monospace;
  width: 100%;
  margin: 0; /*Reset margin and padding for the body */
  padding: 0;
  min-width: 370px;
  max-width: 1400px;
  position: relative;
}

/***** Navigation Bar *****/
header {
  background-color: #44465a;
  height: 885px;
  width: 200px;
}

nav ul {
  margin: 0;
  padding-top: 35px;
}

nav ul li {
  list-style: none;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.color1 {
  color: #8beafd;
}

.color2 {
  color: #74f27c;
}

.color3 {
  color: #f7b76b;
}

.color4 {
  color: #ed75c5;
}

.color5 {
  color: #bd93fa;
}

.color6 {
  color: #f8f8f2;
}

.color7 {
  color: #e6db73;
}

.logo {
  position: fixed;
  bottom: 80px;
  left: 35px;
}

.logo img {
  color: #6172a5;
}

.social-media {
  position: fixed;
  bottom: 10px;
  left: -24px;
}

.social-media ul {
  list-style: none;
}

.social-media ul li {
  display: inline-block;
  padding-right: 3px;
}

/***** Reddit Feed Column *****/
.col1 {
  max-width: 21.5%;
}

.reddit h3 {
  position: absolute;
  top: 25px;
  left: 225px;
  margin-bottom: 45px;
  text-transform: uppercase;
}

.newsfeed-main {
  font-size: 15px;
  line-height: 1.3em;
  height: 775px;
  width: 18%;
  overflow-y: auto;
  position: absolute;
  top: 70px;
  left: 215px;
}

.newsfeed-main::-webkit-scrollbar {
  display: none;
}

.newsfeed1,
.newsfeed2,
.newsfeed3,
.newsfeed4,
.newsfeed5 {
  border-left: 3px solid rgb(143, 142, 142);
  margin-bottom: 30px;
}

.newsfeed1 p,
.newsfeed2 p,
.newsfeed3 p,
.newsfeed4 p,
.newsfeed5 p {
  color: #f8f8f2;
  padding-left: 15px;
}

.newsfeed1 .nf-p1 {
  color: #e6db73;
  margin-top: 8px;
  padding-left: 15px;
}

.newsfeed1 .nf-p3 {
  color: #ed75c5;
  margin-top: 8px;
  padding-left: 15px;
}

.newsfeed2 .nf-p1,
.newsfeed3 .nf-p1,
.newsfeed4 .nf-p1,
.newsfeed5 .nf-p1 {
  color: #e6db73;
  margin-top: 8px;
  padding-left: 15px;
}

.newsfeed2 .nf-p1 span,
.newsfeed3 .nf-p1 span,
.newsfeed4 .nf-p1 span,
.newsfeed5 .nf-p1 span {
  color: #8beafd;
}

.newsfeed2 .nf-p2,
.newsfeed3 .nf-p2,
.newsfeed4 .nf-p2,
.newsfeed5 .nf-p2 {
  color: #6172a5;
  margin-top: 8px;
  margin-bottom: 10px;
}

.newsfeed2 .nf-p3 a,
.newsfeed3 .nf-p3 a {
  color: #ed75c5;
  margin-top: 10px;
}

/***** JavaScript History Column *****/
.col2 {
  max-width: 37%;
}

.col2 h3 {
  color: #8beafd;
  margin-bottom: 25px;
  position: absolute;
  top: 25px;
  left: 645px;
  margin-bottom: 25px;
  text-transform: uppercase;
}

.jsfeed {
  font-size: 13.5px;
  width: 37%;
  max-height: 285px;
  overflow-y: auto;
  position: absolute;
  top: 80px;
  left: 520px;
  border-bottom: 1px solid #bbb;
}

.jsfeed::-webkit-scrollbar {
  display: none;
}

.jsfeed p {
  color: #f8f8f2;
  margin-bottom: 30px;
}

.js-f2,
.js-f3,
.js-f4,
.js-f5,
.js-f6,
.js-f7,
.js-f8 {
  margin-bottom: 10px;
}

.js-days {
  text-align: justify;
  margin-left: 5%;
}

/***** Local Date and Time *****/
.date-time {
  position: absolute;
  top: 450px;
  left: 620px;
  max-width: 37.5%;
}

#time {
  color: #6172a5;
  font-size: 75px;
  font-weight: 700;
  font-size: 9em;
  letter-spacing: 1px;
  position: absolute;
  top: -160px;
  left: -18px;
}

#date {
  color: #6172a5;
  font-size: 1.5em;
  letter-spacing: 0.75px;
  position: absolute;
  top: 110px;
  left: 85px;
}

.para1 {
  margin-top: 190px;
}

.para1 p {
  color: #6172a5;
  margin-top: 20px;
}

.para1 .custom {
  text-transform: uppercase;
}

.p1,
.p2,
.p3 {
  font-size: 13px;
  word-spacing: 0.05px;
  margin-bottom: -15px;
  margin-left: -100px;
}

.p1,
.p3,
.p4 {
  text-align: center;
}

.p4 {
  color: #fdb770;
  margin-left: -85px;
}

/***** Github Issue History Feed *****/
.col3 {
  max-width: 21%;
}

.github h3 {
  color: #8beafd;
  position: absolute;
  top: 25px;
  left: 1115px;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.github .gitlab {
  color: #6172a5;
  position: absolute;
  top: 50px;
  left: 1175px;
}

.github .issues {
  color: #ed75c5;
  font-size: 18px;
  font-weight: bold;
  position: absolute;
  top: 90px;
  left: 1130px;
  text-transform: uppercase;
}

.github .issues span {
  color: #e6db73;
  padding-bottom: 15px;
}

.github .git-arrow {
  color: #e6db73;
  position: absolute;
  top: 110px;
  left: 1150px;
}

.github-main {
  font-size: 15px;
  line-height: 1.3em;
  height: 480px;
  width: 19%;
  overflow-y: auto;
  position: absolute;
  top: 135px;
  left: 1100px;
  border-bottom: 1px solid #bbb;
}

.github-main::-webkit-scrollbar {
  display: none;
}

/***** Gitfeed1 *****/
.gitfeed1 .gf-p1 {
  color: #6172a5;
  position: absolute;
  top: 40px;
  padding-left: 15px;
}

.gitfeed1 .gf-p2 {
  color: #e6db73;
  position: absolute;
  top: 65px;
  padding-left: 15px;
}

.gitfeed1 .gf-p3 {
  color: #f8f8f2;
  position: absolute;
  top: 85px;
  padding-left: 15px;
  margin-bottom: 50px;
}

.gitfeed1 {
  border-left: 3px solid rgb(143, 142, 142);
  height: 130px;
  margin-top: 60px;
}

/***** Gitfeed2 *****/
.gitfeed2 .gf-p1 {
  color: #6172a5;
  position: absolute;
  top: 190px;
  padding-left: 15px;
  padding-top: 10px;
}

.gitfeed2 .gf-p2 {
  color: #e6db73;
  position: absolute;
  top: 215px;
  padding-left: 15px;
  padding-top: 10px;
}

.gitfeed2 .gf-p3 {
  color: #f8f8f2;
  position: absolute;
  top: 245px;
  padding-left: 15px;
  margin-bottom: 50px;
}

.gitfeed2 {
  border-left: 3px solid rgb(143, 142, 142);
  height: 138px;
  margin-top: 25px;
}

/***** Gitfeed3 *****/
.gitfeed3 .gf-p1 {
  color: #6172a5;
  position: absolute;
  top: 350px;
  padding-left: 15px;
  padding-top: 10px;
}

.gitfeed3 .gf-p2 {
  color: #e6db73;
  position: absolute;
  top: 375px;
  padding-left: 15px;
  padding-top: 10px;
}

.gitfeed3 .gf-p3 {
  color: #f8f8f2;
  position: absolute;
  top: 395px;
  padding-left: 15px;
  padding-top: 10px;
  margin-bottom: 50px;
}

.gitfeed3 {
  border-left: 3px solid rgb(143, 142, 142);
  height: 138px;
  margin-top: 25px;
}

/***** Gitfeed4 *****/
.gitfeed4 .gf-p1 {
  color: #6172a5;
  position: absolute;
  top: 500px;
  padding-left: 15px;
  padding-top: 15px;
}

.gitfeed4 .gf-p2 {
  color: #e6db73;
  position: absolute;
  top: 525px;
  padding-left: 15px;
  padding-top: 15px;
}

.gitfeed4 .gf-p3 {
  color: #f8f8f2;
  position: absolute;
  top: 545px;
  padding-left: 15px;
  padding-top: 15px;
  margin-bottom: 50px;
}

.gitfeed4 {
  border-left: 3px solid rgb(143, 142, 142);
  height: 138px;
  margin-top: 16px;
}

/***** Gitfeed5 *****/
.gitfeed5 .gf-p1 {
  color: #6172a5;
  position: absolute;
  top: 650px;
  padding-left: 15px;
  padding-top: 20px;
}

.gitfeed5 .gf-p2 {
  color: #e6db73;
  position: absolute;
  top: 675px;
  padding-left: 15px;
  padding-top: 15px;
}

.gitfeed5 .gf-p3 {
  color: #f8f8f2;
  position: absolute;
  top: 695px;
  padding-left: 15px;
  padding-top: 15px;
  margin-bottom: 50px;
}

.gitfeed5 {
  border-left: 3px solid rgb(143, 142, 142);
  height: 138px;
  margin-top: 18px;
}
